h4 {
  color: ghostwhite;
  top: 15px;
  right: 45px;
  color: #ffffffd1;
  background-color: darkgray;
  border-radius: 7px;
  padding: 5px 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font: sans-serif;
}

p {
 color: whitesmoke;
 top: 30px;
 right: 50px;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

h2 {
  position: fixed;
  top: 10px;
  left: 30px;
  color: #ffffffd1;
  background-color: darkgray;
  border-radius: 7px;
  padding: 5px 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-inline-color: red;
}
body {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.80);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

td img {
    max-width: 100px; 
    height: auto;
}

table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word; 
}

tr:nth-child(odd) td {
    background-color: #f9f9f9;
}
tr:nth-child(even) td {
    background-color: white;
}

td:first-child {
    font-weight: bold;
    color: black;
    background-color: white;
}

td:nth-child(3) a {
    color: royalblue;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 14px;
    }
    th, td {
        padding: 6px;
    }
}
